.frame { 
 background-color: transparent;
 background-image: url(sprite-green-koopac5d0d7437c0b11af986743a6c8367d7a.jpg);
 background-repeat: no-repeat;
 width: 32px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; } 

