.frame { 
 background-color: transparent;
 background-image: url(sprite-blooper25f31ffcd30016b1673342da2c16257a.jpg);
 background-repeat: no-repeat;
 width: 32px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; } 

