.frame { 
 background-color: transparent;
 background-image: url(sprite-cheep-reda269628fde0ad56dea90618959426f6c.jpg);
 background-repeat: no-repeat;
 width: 32px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; } 

